.veditor {
	background-image: url('https://gitee.com/wugenqiang/PictureBed/raw/master/CS-Notes/20200425091751.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}

.vempty {
    display: none!important;
}

.vpower.txt-right{
    display: none;
 }